* {
  margin: 0;
  padding: 0;
}
.container::-webkit-scrollbar { 
  display: none;  
}

body{
   margin: 0px;
   padding: 0px;
   font-family: 'Roboto Slab', arial, serif;
   font-size: 14px;
   height: 100%;
}
.back{
  height:100vh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.logo{
  float: left;
  height: 40px
}
.header{
  width: 100%;
  background-color:#b7b7b7d4;
  overflow: auto;
  height: 40px;
  position: fixed;
  z-index: 3;
}

